<footer class="bluu mt-3">
    <div class="container text-white text-center">
        <div class="row">
            <div class="col-md-12 mt-3">
                <!-- make heading bigger -->
                <h1>Find the best local food loved by Foodies.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <h2>How it works:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <!-- make icon bigger -->
                <div><mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="play_circle"></mat-icon></div>
                Watch Foodie Reviews
            </div>
            <div class="col-md-4 mb-3">
                <div><mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="local_mall"></mat-icon></div>
                PickUp
            </div>
            <div class="col-md-4 mb-3">
                <div><mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="directions_car"></mat-icon></div>
                Delivery
            </div>
        </div>
    </div>
</footer>
