<div class="container text-white">
    <div class="row">

        <div class="col-md-4 col-lg-4 text-center d-flex justify-content-center d-none d-md-block">
            <div>
                <mat-icon matTooltip="Play special DollarApp game for free food." aria-hidden="false" aria-label="play circle icon" fontIcon="videogame_asset"></mat-icon>
                <p>Play for Free Food</p>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 text-center d-flex justify-content-center d-none d-md-block">
            <div>
                <a href="https://www.youtube.com/@DollarApp" class="text-white">
                    <mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="play_circle"></mat-icon>
                </a>
                <p>Watch Foodie Reviews</p>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 text-center d-flex justify-content-center d-none d-md-block">
            <div>
                <mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="directions_car"></mat-icon>
                <p>Fast Food Delivery</p>
            </div>
        </div>

        <!-- <div class="col-sm-6 col-lg-3 text-center d-flex justify-content-center d-none d-sm-block">
            <div>
                <mat-icon matTooltip="Get your food delivered and one dollar of your purchase will go to your favorite influencer." aria-hidden="false" aria-label="play circle icon" fontIcon="attach_money"></mat-icon>
                <p>Tip Your Foodie</p>
            </div>
        </div> -->

    </div>
</div>
<!-- </footer> -->
