<footer class="bluu mt-3">
    <div class="container text-white text-center">
      <!--
        <div class="row">
            <div class="col-md-12 mt-3">
                <!-- make heading bigger
                <h1 class="bigger">Find the best local food loved by Foodies</h1>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12 mt-3">
                <h1>How it works:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <!-- make icon bigger -->
               <div>
                    <a href="https://www.youtube.com/@DollarApp" class="text-white">
                        <mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="play_circle"></mat-icon>
                    </a>
                </div>
                Watch Foodie Reviews
            </div>
            <!-- <div class="col-md-4 mb-3">
                <div><mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="local_mall"></mat-icon></div>
                PickUp
            </div> -->
            <div class="col-md-4 mb-3">
                <div><mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="directions_car"></mat-icon></div>
                Food PickUp & Delivery
            </div>
            <div class="col-md-4 mb-3">
                <div><mat-icon aria-hidden="false" aria-label="play circle icon" fontIcon="card_giftcard"></mat-icon></div>
                Win Food Prize
            </div>
        </div>
    </div>
</footer>
