/* spin choices */
@keyframes spinner1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(750deg);}
}

.spin1 {
    animation-name: spinner1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes spinner2 {
    from {transform: rotate(0deg);}
    to {transform: rotate(810deg);}
}

.spin2 {
    animation-name: spinner2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes spinner3 {
    from {transform: rotate(0deg);}
    to {transform: rotate(870deg);}
}

.spin3 {
    animation-name: spinner3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes spinner4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(930deg);}
}

.spin4 {
    animation-name: spinner4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes spinner5 {
    from {transform: rotate(0deg);}
    to {transform: rotate(990deg);}
}

.spin5 {
    animation-name: spinner5;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes spinner6 {
    from {transform: rotate(0deg);}
    to {transform: rotate(1050deg);}
}

.spin6 {
    animation-name: spinner6;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
/* end choices */

#test-bottle {
    background-color: red;
    width: 100px;
    height: 400px;
    border-top: 50px solid blue;
    margin-left: 350px;
    margin-top: 200px;
}

/* choices */
.main {
    position: relative;
    border: 2px dotted #000000;
    border-radius: 50%;
    width: 800px;
    height: 800px;
}

.circle {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    height: 100px;
    width: 100px;
    border: 2px dotted #000000;
    border-radius: 50%;
}

.circle:nth-child(1) {
    transform: translateX(400px);
}

.circle:nth-child(2) {
    transform: rotate(60deg) translateX(400px);
}

.circle:nth-child(3) {
    transform: rotate(120deg) translateX(400px);
}

.circle:nth-child(4) {
    transform: rotate(180deg) translateX(400px);
}

.circle:nth-child(5) {
    transform: rotate(240deg) translateX(400px);
}

.circle:nth-child(6) {
    transform: rotate(300deg) translateX(400px);
}

