<div class="row">
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div><br><br>
                <p>
                    click like, butto here or something like that
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Buy now!</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
<!-- </div>
<div class="row"> -->
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 mt-3 ml-0 ml-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iIzi90-MG9c" allowfullscreen></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>