.minheight {
    min-height: 600px;
}

.mat-raised-button {
    /* font-size: 16px; */
    /* padding: 8px; */
    width: 100%;
    display: inline-block;
    margin: 0px;
}

button {
    white-space: pre-wrap !important;
}

.showMe {
    display: block;
}

.hideMe {
    display: none;
}

@keyframes fadeLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.reveal {
    visibility: hidden;
}

.reveal.active {
    visibility: visible;
    animation-name: fadeLeft;
    animation-duration: 3s;
}