<div class="container">
    <div class="row">
        <div *ngFor="let short of shorts; let i = index;" class="col-xxl-4 col-xl-4 col-md-6 col-sm-12 mt-3 ml-0 ml-sm-3">
            <mat-card class="reveal">
                <mat-card-content>
                    <div style="min-height: 150px;" id="thumb{{i}}" (click)="playVid('thumb'+i, short)">
                        <img class="img img-fluid" [src]="short.thumb">
                    </div>
                    <div id="video{{i}}" class="ratio" style="--bs-aspect-ratio: 177%;" *ngIf="short.showMe">
                        <iframe [src]="short.videoLink" title="add variable later" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="row">
                        <div class="col-xl-12 mt-3" *ngFor="let bttn of short.buttons; let i = index">
                            <a [href]="bttn.link" target="_blank">
                                <button mat-raised-button [style]="'background-color: ' + bttn.color + '; color: ' + bttn.fontColor + ';'">{{ bttn.label }}</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 mt-3">
                            <a [href]="short.tipLink" target="_blank">
                                <button mat-raised-button style="background-color: green;">Tip @{{ short.influencerHandle }}</button>
                            </a>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
