.bluu {
    /* height: 400px; */
}

.bigger {
    /* font-size: 50px;
    line-height: 100%; */
}

.mat-icon {
    font-size: 100px;
    width: 200px;
    height: auto;
}

.bdr {
    /* border: solid 1px red; */
}

.minh {
    min-height: 500px;
    background-color: black;
}

.dollar {
    font-weight: bold;
    font-size: 85px;
    line-height: 100%;
}

.one {
    font-weight: bold;
    font-size: 85px;
    color: red;
    line-height: 100%;
}

p {
    font-size: 40px;
    line-height: 100%;
}

.bgr {
    font-size: 60px;
    line-height: 100%;
    font-weight: bold;
}

.footer {
    opacity: 0;
    animation: fadeUp 3s forwards;
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
