.bluu {
    /* height: 400px; */
}

.bigger {
    /* font-size: 50px;
    line-height: 100%; */
}

.mat-icon {
    font-size: 100px;
    width: 200px;
    height: auto;
}

.bdr {
    /* border: solid 1px red; */
}

.minh {
    min-height: 500px;
    background-color: black;
}

.dollar {
    font-weight: bold;
    font-size: 100px;
    line-height: 100%;
}

.one {
    font-weight: bold;
    font-size: 100px;
    color: red;
    line-height: 100%;
}

p {
    font-size: 50px;
    line-height: 100%;
}

.bgr {
    font-size: 75px;
    line-height: 100%;
    font-weight: bold;
}