<div [@fadeIn] class="container-fluid text-white minh mt-5">
    <div class="row">
        <div class="col-md-12 text-center d-flex justify-content-center mt-5 text-center">
            <p class="bgr">GIVE WITH EVERY BITE!</p>
        </div>
        <div class="col-md-12 text-center d-flex justify-content-center mt-3 text-center">
            <p><span class="dollar">$</span><span class="one">1</span>of your order goes directly to supporting your food influencer.</p>
        </div>

    </div>
    <br><br>
    <div class="text-center">
        <h3>&copy; 2023 Dollar Technologies.</h3>
    </div>
</div>

