.no-underline {
    text-decoration: none;
}

.mat-raised-button {
    background-color: red;
    font-weight: bolder;
    font-size: larger;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.mat-toolbar {
    background-color: black;
    padding-top: 30px;
}

.foodapp {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5em;
    font-weight: bold;
}

.testing2 {
    display: none;
}

@media only screen and (max-width: 600px) {

    .mat-toolbar {
        height: 110px;
        padding: 0px 0px 0px 0px;
    }

    .testing {
        display: none;
    }

    .testing2 {
        display: block;
    }
}