<mat-toolbar class="testing">
    <div class="col-6 d-flex justify-content-start">
        <!-- <button mat-raised-button (click)="goBack()" color="primary" class="float-start">Back</button> -->
        <img src="/assets/dollar1.png" class="img-fluid" style="display: inline-block; max-height: 94px;">
        <span class="foodapp">Food<span style="color: red;">App</span></span>
        <!-- <a routerLink="''" class="text-white no-underline mx-3">Dollar Food App</a> -->
    </div>
    <!-- <div class="col-4 text-left">
        <a routerLink="''" class="text-white no-underline mx-3">Dollar Food App</a>
    </div> -->
    <div class="col-6 d-flex justify-content-end">
        <a [routerLink]="'game'">
            <button mat-raised-button color="primary">WIN FREE FOOD!</button>
        </a>
    </div>

</mat-toolbar>
<mat-toolbar class="testing2">
    <div class="col-md-6 d-flex justify-content-center">
        <!-- <button mat-raised-button (click)="goBack()" color="primary" class="float-start">Back</button> -->
        <img src="/assets/dollar1.png" class="img-fluid" style="display: inline-block; max-height: 94px;">
        <span class="foodapp">Food<span style="color: red;">App</span></span>
        <!-- <a routerLink="''" class="text-white no-underline mx-3">Dollar Food App</a> -->
    </div>
    <!-- <div class="col-4 text-left">
        <a routerLink="''" class="text-white no-underline mx-3">Dollar Food App</a>
    </div> -->
    <div class="col-md-6 d-flex justify-content-center">
        <a [routerLink]="'game'" class="gamelink">
            <button mat-raised-button color="primary">WIN FREE FOOD!</button>
        </a>
    </div>

</mat-toolbar>