.no-underline {
    text-decoration: none;
}

.mat-raised-button {
    background-color: red;
    font-weight: bolder;
    font-size: larger;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.mat-toolbar {
    background-color: black;
    padding-top: 30px;
}

@media only screen and (max-width: 500px) {
    .mat-raised-button {
        font-size: large;
    }
}